body {
    font-family: sans-serif;
    text-align: center;
}
.timer {
    font-size: 48px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h1 {
    color: rgb(17, 0, 255);
}


.time {
    display: inline;
    background-color: #a19f9f;
    flex-shrink: 0;
    height: 2rem;
    margin: 0rem 2rem 2rem 2rem;
    width: 5rem;
}

#start {
    background-color: #a19f9f;
    flex-shrink: 0;
    height: 3.7rem;
    margin-right: 5.1rem;
    width: 16.4rem;
}

#reset {
    display: inline;
    text-align: center;
    background-color: #a19f9f;
    flex-shrink: 0;
    height: 3.4rem;
    width: 18rem;
    padding-right: 204px;

}

h4 {
    display: inline;
}

#textHours {
    padding-left: 250px;
}


#textSeconds {
    color: red;
    padding-right: 200px;
    padding-bottom: 200px;
}

p {
    display: inline;
}