body {
    font-family: sans-serif;
    text-align: center;
}
.timer {
    font-size: 48px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h1 {
    color: rgb(17, 0, 255);
}

div {
    border: 100px solid rgb(255, 0, 0);
}

.time {
    background-color: #a19f9f;
    flex-shrink: 0;
    height: 2rem;
    margin: 0rem 2rem 2rem 2rem;
    width: 10rem;
}

#start {
    background-color: #a19f9f;
    flex-shrink: 0;
    height: 3.4rem;
    margin-right: 1rem;
    width: 18rem;
}

#reset {
    background-color: #a19f9f;
    flex-shrink: 0;
    height: 3.4rem;
    width: 18.6rem;
}